/* mettre le font-face */
@font-face {
  font-family: "themify";
  src: url("../../fonts/themify.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Flaticon";
  src: url("../../fonts/Flaticon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: rgb(22, 22, 22);
  font-family: "MaPolice", sans-serif;
}

h1, h2, h3 {
  font-family: "Flaticon";
  font-weight: 100;
}

.resnow {
  background-color: #3b3b3b;
  color: white;
  border: none;
  padding: 12px 25px;
  margin-top: 20px;
  cursor: pointer;
}

.btn {
  color: #fff;
}

.btn-general {
  border: #fff solid 2px;
  padding: 12px 26px 12px 26px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.btn-white {
  background-color: transparent;
  color: #fff;
}

.btn-brown {
  background-color: burlywood;
  color: #fff;
}

.btn-brown:hover,
.btn-brown:focus {
  background-color: rgb(206, 151, 83);
  color: #41464b;
}

.btn-white:hover,
.btn-white:focus {
  background-color: #fff;
  color: #41464b;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  height: 50px;
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #1b1b1b;
}

.header_mobile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b1b1b;
  cursor: pointer;
  transition: 0.4s transform linear;
}

.header_mobile:hover {
  transform: rotate(10deg);
}

.header svg {
  width: 20px;
  height: 20px;
  stroke: #fff;
}

.mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 1;
}

.mobile-overlay.active {
  display: block;
}

.nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 300px;
  height: calc(100vh - 60px);
  background-color: #1b1b1b;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(-100%);
  transform: 0.4s transform cubic-bezier(1, -0.01, 0, 1);
}

.nav-mobile_profile {
  text-align: center;
}

.nav-mobile_profile .name {
  color: #aa8446;
  font-size: 25px;
  display: block;
  margin: 6px 8px;
}

.nav-mobile_profile .actions {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 12px;
  color: white;
  word-spacing: 10px;
  text-transform: uppercase;
}

.nav-mobile_profile .actions a {
  color: #fff;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.nav-mobile_menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 87px;
  margin-bottom: 32px;
  padding-left: 25px;
}

.nav-mobile_menu li {
  margin-bottom: 24px;
}

.nav-mobile_menu li:last-of-type {
  margin-bottom: initial;
}

.nav-mobile_menu li a {
  color: #868d8d;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.nav-mobile_social {
  padding: 0;
  list-style: none;
  padding-bottom: 250px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  color: white;
  line-height: 20px;
  padding-left: 25px;
}

.nav-mobile.active {
  transform: initial;
}

.doree {
  color: #aa8446;
  line-height: 1.2;
  font-size: 20px;
}

#phone_head {
  font-size: 4vh;
  color: #aa8446;
  align-self: center;
}

@media screen and (min-width: 1100px) {
  header {
    display: none;
  }
  nav {
    display: none;
  }
}
/* vitrine */
#accueil-section {
  height: 800vh;
  width: 80%;
  float: right;
  background-color: rgb(39, 39, 39);
}
#accueil-section p {
  color: #868585;
  text-align: justify;
}

#vitrine {
  background-image: url("../../img/rooms/roomcomplet.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
  text-align: center;
  padding-top: 20%;
}
#vitrine h1, #vitrine h2 {
  text-transform: uppercase;
  color: white;
  letter-spacing: 10px;
  padding-bottom: 10px;
}
#vitrine h1 {
  font-size: 35px;
  padding-bottom: 30px;
  font-weight: 600;
}

#about {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px 10px 20px 20px;
}
#about img {
  width: 20%;
  padding: 15px;
}
#about h2 {
  font-size: 40px;
}
#about h3 {
  letter-spacing: 4px;
  text-transform: uppercase;
  color: orange;
  padding: 10px;
  padding-top: 30px;
}
#about .about-des {
  margin: 30px 100px;
}
#about .img1 {
  padding-top: 100px;
}

/* description des chambres */
#chambre-des {
  height: 100vh;
  padding: 80px 0;
  position: relative;
}
#chambre-des .text-title {
  font-family: "Flaticon";
  font-size: 25px;
}
#chambre-des .text1 {
  position: absolute;
  color: #fff;
  padding: 29% 70% 0 5%;
}
#chambre-des .text2 {
  position: absolute;
  color: #fff;
  padding-top: 29%;
}
#chambre-des .text3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
}
#chambre-des .text4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
}
#chambre-des .text5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
}

#premier-rang {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#premier-rang img {
  width: 25%;
  padding: 0 10px;
}

#deuxieme-rang {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#deuxieme-rang img {
  width: 38%;
  padding: 15px 10px;
}

/* services */
#services {
  color: #fff;
  background-color: rgb(58, 58, 58);
  padding: 100px;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 400px);
}
#services img {
  width: 100%;
}
#services h3, #services h2, #services p, #services a {
  margin: 0 10%;
  margin-top: 20px;
}
#services h3 {
  color: orange;
}
#services h2 {
  font-size: 30px;
}
#services .item-service {
  background-color: rgb(75, 74, 74);
}

/* responsive css accueil */
@media screen and (max-width: 1100px) {
  #accueil-section {
    width: 100%;
  }
}
.main_bedroom {
  background-color: #222222;
}
.main_bedroom h1, .main_bedroom h6, .main_bedroom h3 {
  color: white;
}
.main_bedroom p, .main_bedroom li {
  color: #7d7d7d;
  list-style: none;
}
.main_bedroom #litlogo {
  color: #aa8453;
  padding-right: 20px;
}

.pichead_into {
  background-image: url(/img/rooms/4.jpg);
  background-size: 1700px 1400px;
  background-position: right;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 400px;
  margin-left: 0px;
  text-align: center;
}
.pichead_into .ti-star {
  color: #aa8453;
}

.blocktext_title {
  margin-left: 250px;
}

.blocktext {
  margin-left: 250px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
}
.blocktext .blocktext_left_checks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.blocktext .blocktext_left_checks ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}
.blocktext .blocktext_left_checks li {
  margin: 15px;
}
.blocktext .blocktext_left_checks h3 {
  margin: 18px 18px;
}
.blocktext .blocktext_right {
  padding-left: 20px;
}
.blocktext .blocktext_right ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}
.blocktext .blocktext_right li {
  margin: 15px;
}
.blocktext .blocktext_right h3 {
  margin: 18px 18px;
}

#contact-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(39, 39, 39);
}

h1 {
  color: white;
}

.dispo {
  color: grey;
}

p {
  color: grey;
}

.contactlink {
  margin-top: -10px;
  color: rgb(255, 187, 0);
}

.flaticon-phone {
  display: flex;
  flex-direction: row;
  color: rgb(255, 187, 0);
  padding-top: 30px;
  padding-right: 10px;
  font-size: 30px;
}

a {
  color: rgb(255, 187, 0);
}

.flaticon-envelope {
  display: flex;
  flex-direction: row;
  color: rgb(255, 187, 0);
  padding-top: 30px;
  padding-right: 10px;
  font-size: 30px;
}

.flaticon-location-pin {
  display: flex;
  flex-direction: row;
  color: rgb(255, 187, 0);
  padding-top: 30px;
  padding-right: 10px;
  font-size: 30px;
}

.champ-id {
  color: grey;
}

.btn-brown {
  background-color: burlywood;
  color: white;
}

input {
  background-color: rgb(39, 39, 39);
}

textarea {
  background-color: rgb(39, 39, 39);
}

#phonebox {
  display: flex;
  flex-direction: row;
}

#envelopbox {
  display: flex;
  flex-direction: row;
}

#locationbox {
  display: flex;
  flex-direction: row;
}

.maps-ducsman {
  padding-bottom: 50%;
  padding-left: 20%;
  padding-top: 50px;
  margin-right: 70%;
  filter: grayscale(100%);
}/*# sourceMappingURL=main.css.map */