header{
    display: flex;
    flex-direction: column;
    color:#6f6f6f;
    width: 20%;
    height: 180vh;
    background-color: #1b1b1b;
    align-items: center;
    position: fixed;
}

.logo_ducsman{
    margin-top: 8vh;
    width:80%;  
}
.liste_head{
    text-align: left;
    list-style-type: none;
    align-self: flex-start;
    margin-top: 7vh;
}
.element_head{
    text-decoration: none;
    color:#6f6f6f;
}
.li_head{
    margin-bottom: 2vh;
}

a:hover{
    color: #aa8453;
}

#phone_head{
    font-size: 4vh;
    color: #97764b;
    align-self:center;
    margin-left: 5vh;
}
.info_head{
    display: flex;
    margin-right: 5vh;
    justify-content: center;
    flex-wrap: nowrap;   
}
.color_head{
    color:#97764b;
}
.text_head{
    margin-left: 1vh;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
}

