/* mettre le font-face */
@font-face {
    font-family: 'themify';
    src: url('../../fonts/themify.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Flaticon';
    src: url('../../fonts/Flaticon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: rgb(39, 39, 39);
    font-family: 'Flaticon', sans-serif;
}


h1,h2,h3, span{
    font-family: 'Flaticon';
    font-weight: 100;
}

h1{
    font-size: 40px;
}

.ti-star{
    color: gold;
}