.main_bedroom{

    background-color: rgb(39, 39, 39);

    .h1-2{
        color: white;
        margin: 4px;
    }

    h3{
        color: white;
        font-size: 25px;
    }

    .h6-2{
        color: #aa8453;
        margin: 8px;
        margin-top: 50px;
    }

    p, li{
        color: #7d7d7d;
        list-style: none;
    }
}

.pichead_into {

    background-image: url(/img/rooms/4.jpg);
    @include parallax;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 300px;
    padding-bottom: 300px;


    .pichead_title{
        color: white;
        font-size: 25px;
        letter-spacing: 6px;
    }

    .pichead_subtitle{
        font-size: 35px;
        letter-spacing: 20px;
    }

    .ti-star{
        color: #aa8453;
        font-size: 30px;
    }
}

.blocktext_title{
    margin-left: 200px;
    font-size: 30px;
}

.blocktext{
    margin-left: 200px;
    margin-bottom: 250px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;

    .blocktext_left_checks{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        ul{
            padding-inline-start: 0px;
        }

        li{
            margin: 15px;
        }

        h3{
            margin: 18px 18px;
        }

        .ti-check{
            color: #aa8453;
            padding-right: 20px;
        }
    }

    .blocktext_right{
    padding-left: 150px;
        ul{
            padding-inline-start: 0px;
        }

        li{
            margin: 15px;
        }

        h3{
            margin: 18px 18px;
        }

        .litlogo{
            color: #aa8453;
            padding-right: 20px;
        }
    }

}


@media screen and (max-width: 1100px) {
    .main_bedroom{
        width: 100%;

        }
}


@media screen and (min-width: 1100px){
    .main_bedroom{
        margin-left: 20%;
        }
}